@import "../../styles/variables.scss";

.service-center-management {
  min-height: calc(100vh - $menuHeight);
  background-color: $colorLight;

  .no-service-center {
    height: calc(100vh - $menuHeight);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .basic-info {
    background-color: white;

    .management-buttons {
      display: flex;
      gap: 16px;

      @media screen and (min-width: 700px) {
        margin-bottom: 24px;
        flex-direction: row;
        
        .button {
          width: 200px;
        }
      }
      @media screen and (max-width: 699.9px) {
        margin-bottom: 16px;
        flex-direction: column;

        .button {
          width: 100%;
        }
      }
    }
    
    .service-center-info {
      padding: 24px 0;
      display: flex;

      @media screen and (min-width: 700px) {
        flex-direction: row;
        gap: 24px;

        .text-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
      @media screen and (max-width: 699.9px) {
        flex-direction: column;
      
        img {
          align-self: center;
        }
      }

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
      }

      .administrator-info {
        display: flex;
        flex-direction: row;
        gap: 24px;
      }
    }

    @media screen and (min-width: 900px) {
      padding: 0 24px;
    }
    @media screen and (min-width: 350px) and (max-width: 899.9px) {
      padding: 0 16px;
    }
    @media screen and (max-width: 349.9px) {
      padding: 0 8px;
    }
  }

  .tab-content {
    @media screen and (min-width: 900px) {
      padding: 24px;
    }
    @media screen and (min-width: 350px) and (max-width: 899.9px) {
      padding: 16px;
    }
    @media screen and (max-width: 349.9px) {
      padding: 8px;
    }

    .tab-button {
      @media screen and (min-width: 900px) {
        margin-bottom: 24px;
      }
      @media screen and (min-width: 350px) and (max-width: 899.9px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 349.9px) {
        margin-bottom: 8px;
      }
    }

    .action-bar {
      flex-direction: row;
      display: flex;
      gap: 8px;
      width: 100%;
      margin-bottom: 24px;

      @media screen and (min-width: 1000px) {
        flex-direction: row;
      }
      @media screen and (max-width: 999.9px) {
        flex-direction: column;
      }
  
      .action-bar-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .text-field {
          input {
            padding: 8px;
            background-color: white;
          }

          @media screen and (min-width: 1000px) {
            width: 200px;
          }
          @media screen and (max-width: 999.9px) {
            width: 100%;
          }
        }
      }

      .action-bar-select-list {
        display: flex;
        gap: 8px;
        
        @media screen and (min-width: 700px) {
          flex-direction: row;
          align-items: center;
        }
        @media screen and (max-width: 699.9px) {
          flex-direction: column;          
        }

        .action-bar-select {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          .MuiSelect-select {
            background-color: white;
            padding-left: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 160px;
          }
        }
      }
    }

    .data-grid {
      background-color: white;
    }

    .employee-fullname {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    .employee-card {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 5px;

      @media screen and (min-width: 550px) {
        padding: 16px;
        gap: 16px;
      }
      @media screen and (max-width: 549.9px) {
        padding: 8px;
        gap: 8px;
      }

      .avatar {
        width: 120px;
        height: 120px;
        align-self: center;
      }

      .title {
        text-align: center;
      }
    }
  }
}